{{ define "main" }}

{{ template "header" }}
    <!-- <- ****************************************************************************************************************** -> -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col">
                <input class="item_input" type="checkbox" id="id1">
                <label class="trigger" for="id1">
                    <center>
                        <img src="../img/XTMeze2jx54.jpg" alt="img" width="200">
                        <p>Котик облизывается</p>
                    </center>
                </label>
                <div class="content">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6DWPBAxkhZSrydkqoVXgKz?utm_source=generator"
                    width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media;
                    fullscreen; picture-in-picture"></iframe>
                    <img src="../img/XTMeze2jx54.jpg" alt="img" width="100">
                </div>
            </div>

            <div class="col">
                <input class="item_input" type="checkbox" id="id2">
                <label class="trigger" for="id2">
                    <center>
                        <img src="../img/XTMeze2jx54.jpg" alt="img" width="200">
                        <p>Котик облизывается</p>
                    </center>
                </label>
                <div class="content">
                    <center>
                        <img src="../img/7M_Q2N2HGKLNLRP7uFqXLHVxzog7I896eI0T5_jjOcU2V3V-tDamxwZDHjbGwEgHVi1JEll_Dbf8QxXK3BQ0hPa3.jpg"
                            alt="img" width="200">
                    </center>
                </div>
            </div>

            <div class="col">
                <input class="item_input" type="checkbox" id="id3">
                <label class="trigger" for="id3">
                    <center>
                        <img src="../img/XTMeze2jx54.jpg" alt="img" width="200">
                        <p>Котик облизывается</p>
                    </center>
                </label>
                <div class="content">
                    <img src="../img/XTMeze2jx54.jpg" alt="img" width="100">
                </div>
            </div>

        </div>
    </div>

{{ template "footer" }}

{{ end }}